$header-background: #FFFFFFFF;
$title-color: #ffffff;
$body-background: #101132;
$body-color: #6a6c99;
$active-color: #0DA5F7;
$tab-active-color: #46cd78;
$button-color: rgba(255, 255, 255, 1);
$button-background: #2aa3f4;
$title-fontSize: 36px;
$body-fontSize: 28px;
